<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThetaWinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ThetaWinApp.Properties.Settings>
            <setting name="FormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PhotoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedDevPhotoFilter" serializeAs="String">
                <value>-1</value>
            </setting>
        </ThetaWinApp.Properties.Settings>
    </userSettings>
</configuration>
